 <div class="navbar navbar-static-top bgdark">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">FinanceTracker</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <% if current_user %>
            <ul class="nav navbar-nav">
              <li><%= link_to "my_portfolio", my_portfolio_path, class:"menu-item" %></li>
              <li><%= link_to "Profile", edit_user_registration_path, class:"menu-item" %></li>
              <li><%= link_to "My Friends", my_friends_path, class:"menu-item" %></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="#" class="menu-item">
                  <span><i class="fa fa-user menu-item"></i></span>
                  <span class="menu-item"><%= current_user.full_name %></span>
                </a>
              </li>
              <li><%= link_to "Log Out", destroy_user_session_path, class:"menu-item", method: :delete %></li>
            </ul>

          <% else %>
          <ul class="nav navbar-nav">
            <li><%= link_to "SignUp/SignIn", new_user_registration_path , class:"menu-item" %></li>
           </ul> 
          <% end %>
        </div>
      </div>
    </div>